POSTGRES_USER=flyrank_user
POSTGRES_PASSWORD=change_me_for_local_development
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=flyrank_metering

REDIS_HOST=localhost
REDIS_PORT=6379

FLW_CLIENT_ID=
FLW_CLIENT_SECRET=
FLW_ENCRYPTION_KEY=
FLW_SECRET_HASH=change_me_for_local_webhooks
